#imagem{
    border-radius: 10%;
    width: 300px;
}

body main img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}
/*
body main #favoritos{
    background-color: #f8faf8;
    color: #000;
    border: 1px solid #000;
}