header {
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


#logo {
    max-width: 150px;
}


#logo a {
    text-decoration: none;
}

main .titulo {
    font-size: 2em;
    color: #070707;
    margin: 20px 0;
    border-bottom: solid 2px rgb(44, 44, 44);
}

#imagemAutor {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin: 0;
    display: block;
}

.explorer {
    text-decoration: none;
    color: #070707;
    
}
.divider {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.social-icons img {
    width: 24px;
    margin-left: 10px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search-bar {
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    color: rgb(0, 0, 0);
    padding-right: 0px;
}

.thumb {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    margin: 0;
    display: block;
}
